{{!--

Challenges handelbars

--}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Habit Tracker</title>
    <link rel="stylesheet" href="/public/css/challenges.styles.css">
</head>
<body>
    <header>
        <h1>Habit Tracker - Challenges</h1>
    </header>
<div class="button-div">
  <a href="/protected" class="submit-button">Home Page</a>
  <a href="/habits/create-habit" class="submit-button">Manage Habits</a>
  <a href="/tracked-habits/view-habit-log" class="submit-button">Log a Habit</a>
  <a href="/groups" class="submit-button">Manage Group</a>
  <a href="/individual" class="submit-button">Individual Challenge</a>
  {{!-- <a href="/challenges" class="submit-button">Challenge Dashboard</a> --}}
  <a href="/leadershipboard" class="submit-button">Leadership board</a>
</div>
 <main>
        <form action="/challenges" id="challenges-form" method="GET">
            <p>Hello, This is the challenges page!</p>
            <p>You are part of the following challenges:</p>

            <h2>Your Groups Challenges:</h2>
            <!-- Loop for each group -->
            {{#each groupDataRet}}
            <div class="group-challenge">
                <p>
                    Group Name: {{groupname}}<br>
                    Habit: {{#with (lookup ../habitDataRet @index)}}{{name}}{{/with}}<br>
                    Start Date: {{startdate}}<br>
                    End Date: {{enddate}}<br>
                    Score: {{score}}<br>
                </p>
                <input type="hidden" id="groupid_{{_id}}" name="groupid" value="{{_id}}">
                <a href="#" id="addUserLink_{{_id}}" class="add-user-link">Add User</a><br>

                <div id="userDropdown_{{_id}}" class="hidden">
                    <label for="userSelect_{{_id}}">Select User:</label>
                    <select id="userSelect_{{_id}}" name="selectedUserId">
                        <!-- Options will be populated dynamically using JavaScript -->
                    </select>
                    <button id="submitUserButton_{{_id}}" class="submit-user-button">Add</button>
                </div>
                <a href="/habits/log-habit/{{habit}}" id="log-habit_{{_id}}">Track Habits</a><br>

              {{#if ../user._id}}
    {{#ifEqual admin ../user._id}}
        <a href="#" onclick="deleteGroup('{{toHexString _id}}', event);">Delete Group</a><br>
    {{else}}
        <a href="#" onclick="deleteUser('{{../user._id}}','{{toHexString _id}}', event);">Exit from group</a><br>
    {{/ifEqual}}
{{else}}
    {{#ifEqual admin ../user.id}}
        <a href="#" onclick="deleteGroup('{{toHexString _id}}', event);">Delete Group</a><br>
    {{else}}
        <a href="#" onclick="deleteUser('{{../user.id}}','{{toHexString _id}}', event);">Exit from group</a><br>
    {{/ifEqual}}
{{/if}}

            </div>
            {{/each}}

            <h2>Your Individual Challenges:</h2>
            {{#if individualDataRet}}
            {{#each individualDataRet}}
            <div class="individual-challenge">
                <p>
                    Challenge Name: {{challengename}}<br>
                    Habit: {{#with (lookup ../habitDataRet @index)}}{{name}}{{/with}}<br>
                    Start Date: {{startdate}}<br>
                    End Date: {{enddate}}<br>
                    Score: {{score}}<br>
                    <a href="/habits/log-habit/individual/{{habit}}">Track Habits</a><br>
                    <a href="#" onclick="deleteIndividualChallenge('{{toHexString _id}}', event);">Delete</a>
                </p>
            </div>
            {{/each}}
            {{else}}
            <p>No individual challenges data available.</p>
            {{/if}}

            <div id="error">
                <p>{{error}}</p>
            </div>
        </form>
    </main>
    </body>
</html>