<head>
    <meta charset="utf-8">
    <title>Habit Tracker</title>
    <link rel="stylesheet" href="/public/css/protected.styles.css">
</head>

<div class="container">
    <header>
        <h1>Habit Tracker</h1>
    </header>
    <p>Welcome {{firstName}} {{lastName}}, to Habit Tracker. The time is now: {{currentTime}} and your role in the system is: <label name="role" id="role" value="{{role}}">{{role}}</label> </p>
    
    <!-- Protected Area Start -->
    <div class="protected-area">
        <div id="adminstuff" style="visibility:hidden">You are admin. Click <a href="/admin">here</a> to go to Admin page</div>
        <script type="text/javascript">
            if (document.getElementById('role').innerHTML === "admin") {
                document.getElementById('adminstuff').style.visibility = "visible";
            }
        </script>
        
        <a href="/habits/streak-report?userId={{userId}}" class="submit-button">Show Streak Report</a>
        <a href="/tracked-habits/view-habit-log" class="submit-button">Log a Habit</a>
        <a href="/habits/create-habit" class="submit-button">Manage Habits</a>
        <a href="/groups" class="submit-button">Manage Group</a>
        <a href="/individual" class="submit-button">Individual Challenge</a>
        <a href="/challenges" class="submit-button">Challenge Dashboard</a>
        <a href="/leadershipboard" class="submit-button">Leadership board</a>
        <p><a href="/logout" class="submit-button">Logout</a></p>
    </div>
    <!-- Protected Area End -->

</div>

<script>
    // Set emailAddress in localStorage when the page loads
    document.addEventListener('DOMContentLoaded', function() {
        localStorage.setItem('emailAddress', '{{emailAddress}}');
    });

    // Clear emailAddress from localStorage when the logout button is clicked
    document.getElementById('logoutButton').addEventListener('click', function() {
        localStorage.removeItem('emailAddress');
    });
</script>
<script src="/public/js/tracked_habit_scripts.js"></script>
